{% extends "personal/header.html" %}

{% block content %}
{% load staticfiles %}

<h3> <center> WELCOME TO VASSAR SOCCER </center> </h3>
<!--{% include "personal/includes/htmlsnippet.html" %}-->
<img src="{% static 'personal/home_photos/sick_photo.png' %}" class="responsive-img" style='max-height:450px;' alt="face">
<img src="{% static 'personal/home_photos/lib_league_sel.png' %}" class="responsive-img" style='max-height:450px;' alt="face">
<img src="{% static 'personal/home_photos/Mrlik.png' %}" class="responsive-img" style='max-height:400px;' alt="face">
<img src="{% static 'personal/home_photos/Reid.png' %}" class="responsive-img" style='max-height:336px;' alt="face">
<img src="{% static 'personal/home_photos/team.png' %}" class="responsive-img" style='max-height:316px;' alt="face">
<img src="{% static 'personal/home_photos/Zo.png' %}" class="responsive-img" style='max-height:316px;' alt="face">


<blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">MSOC | The best kind of shower. <a href="https://twitter.com/hashtag/Gatorade?src=hash">#Gatorade</a><br><br>Your <a href="https://twitter.com/VassarMSOC">@VassarMSOC</a> team drenching coach Andy Jennings after winning the Liberty League Championship <a href="https://t.co/yV3aDMlP6h">pic.twitter.com/yV3aDMlP6h</a></p>&mdash; Vassar Athletics (@VassarAthletics) <a href="https://twitter.com/VassarAthletics/status/795012970250203137">November 5, 2016</a></blockquote>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
<blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">MSOC | Highlights? Oh, we got &#39;em! <a href="https://twitter.com/VassarMSOC">@VassarMSOC</a> knocks off Skidmore 3-2 to earn Liberty League title. Relive it HERE!! <a href="https://twitter.com/hashtag/BrewUp?src=hash">#BrewUp</a> <a href="https://t.co/Bazpe7ZkBh">pic.twitter.com/Bazpe7ZkBh</a></p>&mdash; Vassar Athletics (@VassarAthletics) <a href="https://twitter.com/VassarAthletics/status/795060760510693376">November 6, 2016</a></blockquote>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>


<p> All photos and videos are from <a href="http://www.vassarathletics.com/">Vassar Athletics</a>  </p>
{% endblock %}	